<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Sadece kamerası olan cihazlarda görünür -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsiApp"
        tools:targetApi="31">
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.IndustryPreviewActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.StudentPreviewActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.OpinionAndSuggestionActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.OpenRequestsDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.PreviewActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.AcademicianSettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.IndustrySettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.StudentSettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.SignUpIndustryEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.SignUpEmailStudentActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.SignUpEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.UpdatePasswordActivity"
            android:exported="false" />

        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.RequestDetailAcademicianActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.usisoftware.usiapp.view.studentView.RequestDetailStudentActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.RequestSubjectStudentActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.StudentRequestActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.DepartmentInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.UniversityInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.StudentInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.SignUpStudentActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.StudentLoginActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.studentView.StudentMainActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.RequestSubjectActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.RequestCategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.IndustryWorkerInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.IndustryAddressInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.IndustryContactInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.IndustryInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.AddAdminUserActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.IncomingRequestDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.OldRequestDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.AcademicianPreviewActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.AppointAcademicianActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.PendingRequestDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.OldRequestsActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.PendingRequestsActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.RequestDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.RequestContentActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.CreateRequestActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.AcademicianMainActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.ProfessionInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.PreviousEducationsActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.PreviousConsultanciesActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.FirmInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.EducationActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.ContactInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.ConsultancyFieldsActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.AcademicInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.IndustryMainActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.SignUpIndustryActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.VerificationActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.academicianView.AcademicianLoginActivity"
            android:exported="false" />
        <activity
            android:name="com.usisoftware.usiapp.view.industryView.IndustryActivity"
            android:exported="false" />
    </application>

</manifest>